@charset "utf-8";
@import url("RobotoSlab_VariableFont_wght/stylesheet.css");
@import url("Frutiger/stylesheet.css");
@import url("Acme_Regular/stylesheet.css");
@import url("RobotoSlab_VariableFont_wght/stylesheet.css");

/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* sirve para no agregar espacio al las contenedores cuando pongo valores de padding*/
}


body{
	font-family: Frutiger, Verdana, "Coolvetica Compressed Hv"
}

h1 {font-size: 1.5em;} 
h2 {font-size: 1.12em;}
h3 {font-size: 1em;}
p{font-size: 0.7em;}


.container{
	max-width: 1400px;
	margin: auto;
}

.color-acento{
	color: rgba(29,62,90,1.00)
}

.justify {
    text-align: justify;
}

.centrado {
    text-align: center;
}
.image-container{
	display: flex;
}

.image-container img{
    width: 100%;
    height: 0%;
}

header{
    background-color: rgba(245,245,245,1.00);	
}

header .logo {
	margin: 0;
	padding: 25px 30px;
}


header.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container .logo #botones {
    display: flex;
    flex-direction: column;
    padding-left: 159px;
    padding-top: 0px;
    margin-top: -53px;
    text-align: center;
}

.container .topnav a {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    float: left;
    color: #000000;
    text-align: center;
    padding-top: 10px 16px; /* 10px / 16px = 0.625em */
    padding-right: 0.875em; /* 14px / 16px = 0.875em */
    padding-left: 0.875em; /* 14px / 16px = 0.875em */
    padding-bottom: 0.625em; /* 10px / 16px = 0.625em */
    text-decoration: none;
    font-size: 1em; /* 16px / 16px = 1em */
    font-family: Frutiger;
    border-radius: 2px; /* 2px / 16px = 0.125em */
    margin-left: 7em; /* 126px / 16px = 7.875em */
    margin-top: 0.9375em; /* 15px / 16px = 0.9375em */
    -webkit-box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.70); /* 1px / 16px = 0.0625em */
    box-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.70); /* 1px / 16px = 0.0625em */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.topnav a:hover {
    background-color: #1c3e58;
    color: #fff;
}
#into {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
}
#into #info {
    padding-top: 177px;
}

#servicios .container #tituloserv {
    text-align: center;
    color: rgba(255,255,255,1.00);
}
.container #tituloserv h1 {
    font-family: Verdana;
    padding-left: 15px;
    padding-right: 15px;
}

#servicios {
    background-color: rgba(29,62,90,1.00);
}

#servicios.container{
    text-align: center;
    padding-right: 12px;
    padding-left: 12px;
}

#servicios .container .lista {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no hay suficiente espacio */
    color: #FFFFFF;
    background-color: rgba(29,62,90,1.00);
    padding-left: 20px;
    margin-top: 31px;
}

.columna {
    width: calc(20% - 1px); /* Calcula el ancho de cada columna */
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.lista .columna h1 {
    text-align: center;
    font-family: Verdana;
    color: rgba(255,255,255,1.00);
}


.lista .columna p {
    text-align: justify;
    color: rgba(255,255,255,1.00);
    font-family: Verdana;
    font-size: 0.8em;

}
.lista .columna ul {
    color: rgba(255,255,255,1.00);
    font-family: Verdana;
    font-size: 0.8em;
}

.lista .columna img {
    text-align: left;
    margin-left: 20px;
    border-radius: 15px; /* Alto original de las imágenes */
    transition: transform 0.3s ease;
}

/* Estilos para las imágenes cuando el cursor está sobre ellas */
.columna img:hover {
    transform: scale(1.1); /* Aumenta la escala de la imagen al 110% */
}

#equipo.container{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
#equipo .container h1 {
    padding-top: 0px;
    margin-top: -177px;
    font-family: Verdana;
}



#equipo .container h2 {
    text-align: center;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 151px;
    color: rgba(0,0,0,1.00);
    padding-top: 50px;
}
#equipo .container p {
    margin-left: 479px;
    margin-top: 66px;
}
#equipo .container h2 {
    margin-top: 47px;
}


#fachada{
    width: 437px;
    padding-left: 15px;
    margin-top: -122px;
    padding-right: 15px;
}

#equipo .container hr {
    margin-top: -282px;
    color: rgba(29,62,90,1.00);
}
.container #integrantes h2 {
    margin-top: 18px;
}

#jose{
	width: 150px;
}
.container #integrantes #jose {
    padding-left: 15px;
    margin-top: -86px;
    border-radius: 48px;
}


.container #integrantes h2 {
    font-family: Frutiger;
}
